# This script is executed at the beginning of X user session, butefore window manager is started 

nitrogen --restore # to restore wallpapers when booting machine 
picom -f -b &    # picom for fading and opacity for focused and unfocused windows 
